body {
    font-family: 'Roboto;', sans-serif;
    background-color: #e6fcfe;
}
header {
    display: flex;
    background-color: rgba(128, 222, 228, 1);
    justify-content: space-between;
    color: #6D435A;
    padding: 10px 80px;
}
button {
    outline: none;
}

.logo {
    font-size: 38px;
    font-family: 'Voga', sans-serif;
    font-weight: bold;
}
.btn-cart {
    background-color: #FFE785;
    padding:          10px 20px;
    border:           1px solid transparent;
    color:            #6D435A;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    border-radius:    5px;
    transition:       all ease-in-out .4s;
    cursor:           pointer;
    box-shadow: 4px 4px 4px #258C93;
    
}
.btn-cart:hover{
    background-color: #258C93;
    color:            #FFE785;
}
.btn-cart, .logo {
    align-self: center;
}

.products{
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 1fr;
    padding: 40px 80px;
    justify-content: space-between;
}
p {
    margin: 0 0 5px 0;
}
.product-item {
    display:        flex;
    flex-direction: column;
    width:          200px;
    border-radius:  5px;
    overflow:       hidden;
    margin:         20px 0;
    background:     #FFF9E2;
    border: #B9EEF1 1px solid;
    text-align:     center;
}
.product-item h3 {
    font-family: "Rosario", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #6D435A;
}
.product-item p {
    color: #FF5581;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
.desc {
    border: 1px solid #c0c0c040;
    padding: 15px
}
.cart{
    position: relative;
    vertical-align: center;
}
.cart-block{
    box-shadow:       0 0 5px rgba(12, 66, 83, 0.62);
    border-radius:    5px;
    box-sizing:       border-box;
    right:            0;
    top:              130%;
    position:         absolute;
    background-color: #e2f8fa;
    padding:          20px;
    color:            #6D435A;
    width:            300px;
}


.buy-btn, .del-btn{
    margin-top: 5px;
    background-color: #ffe785;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #304f51;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.buy-btn:hover, .del-btn:hover{
    background-color: #258c93;
    border-color: #304f51;
    color: #ffe785;
}


.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child){
    margin-bottom: 20px;
}
.product-bio{
    display: flex;
}
.cart-item img{
    align-self: flex-start;
    margin-right: 15px;
}
.product-single-price{
    color: #FF5581;
    font-size: 0.5em;
}
.product-price{
    margin-left: 30px;
}
.product-desc{
    max-width: 150px;
}
.product-quantity {
    margin-top: 15px;
    font-size: 0.75em;
}
.right-block{
    text-align: right;
}
.btn-search {
    background-color: transparent;
    border:           none;
    color:            #258c93;
    font-size:        1.2em;
    position:         absolute;
    bottom:           5px;
    right:            0;
}
.search-form{
    position: relative;
    margin-right: 50px;
    display: inline-block;
}
.search-field:focus{
    outline: none;
}
.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #6D435A;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #304f51;
}
